 .navbar-primary {
            background-color: #041E42; /* Azul oscuro de MLB */
        }
/* Estilo para la barra de noticias de última hora */
.breaking-news-bar {
    background-color: #C8102E; /* Rojo de MLB */
    color: white;
    font-weight: bold;
    padding: 8px 15px;
}
/* Color para los enlaces activos/hover */
.navbar-primary .nav-link:hover, .navbar-primary .nav-link.active {
     color: #ccc;
    }
/* Estilo para el contenedor de juegos */
.game-card-container {
    overflow-x: auto; /* Permite desplazamiento horizontal en móviles */
    white-space: nowrap; /* Evita que las tarjetas salten de línea */
    padding-bottom: 10px;
}
/* Estilo base para cada tarjeta de juego */
.game-card {
    display: inline-block;
    width: 200px; /* Ancho fijo para cada tarjeta de juego */
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: center;
    padding: 15px;
}
/* Estilo para el cuerpo principal para evitar que la barra de navegación flote demasiado */
main {
    padding-top: 10px;
}